/**
 * @description 首页css
 * @author   sherlock
 * @time     1：20
 */








.xy-content{
    width: 100%;
    height: 100%;
}

.xy-content .xy-fixrelative{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;


    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
    transition: transform 1s ease;
}


.xy-fixrelative .xy-figure {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1000;
}

.xy-figure .xy-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    z-index: -1;
}
.xy-figure .xy-bg.bg-default{
    background: #ffffff;
}

.xy-figure .xy-bg img {
    width: 100%;
    height: 100%;
    min-width: 1003px;
}



/**
 * 圆点滑动
 */

/** 右测居中 **/
.xy-dot-main{
    position: fixed;
    right: 0;
    top: 50%;
    width: 225px;
    height: 156px;
    margin-top: -78px;
    z-index: 9000;

}
.xy-dot{
    float: right;
    width: 125px;
    padding-right: 45px;
}


/** ie8 存在兼容性问题 查询解决 **/
/*.xy-dot li:after{*/
    /*content: '';*/
    /*background: transparent url("../../images/dot.png") no-repeat;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*display: inline-block;*/
    /*margin-left: 10px;*/
    /*background-position: -45px  -15px;*/

/*}*/


.xy-dot li > .xy-dot-icon{
    background: transparent url("../../images/dot.png") no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    background-position: -45px  -15px;
}

.xy-dot li.active > .xy-dot-icon{
    background-position: -30px  -15px;
}

/*.xy-dot.inverse li:after{*/
    /*content: '';*/
    /*background: transparent url("../../images/dot.png") no-repeat;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*display: inline-block;*/
    /*margin-left: 10px;*/
    /*background-position: -45px  0;*/
/*}*/

/*.xy-dot.inverse li.active:after{*/
    /*background-position:  -30px  0;*/
/*}*/
/*.xy-dot.inverse li {*/
    /*color: #0b6bd5;*/
/*}*/
/*.xy-dot li.active:after{*/
    /*background-position: -30px  -15px;*/
/*}*/

.xy-dot li{
    float: right;
    width: 100px;
    height: 39px;
    padding-right: 18px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    line-height: 39px;
    text-align: right;
}



.xy-inner{
    margin: 0 auto;
    padding-top: 70px; /** 留出导航 **/
    height: inherit;
}
.xy-inner-rel{
    position: relative;
    height: inherit;
}
/** 第一张图片测试 **/
.xy-inner-message{
    background-image: url("../../images/version.png");
    background-repeat: no-repeat;
    width: 351px;
    height: 170px;
}
.xy-inner-message h2,.xy-inner-message p {
    width: 310px;
    height: 0;
    overflow: hidden;
    padding-top: 55px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.xy-inner-left{
    margin-left: 40px;
    /*margin-top: 90px;*/
}
.xy-inner-btns{
    margin-top: 27px;
    margin-bottom: 35px;
}
.xy-btn{
    text-align: center;
    font-size: 22px;
    width: 176px;
    height: 50px;
    line-height: 42px;
    margin: 12px 0;
}
.xy-btn.dashed{
    background: none;
    color: #ffffff;
}
.xy-btn.dashed{
    border : 2px dashed #FFFFFF;

}
.xy-btn.dashed:hover{
    /*border : 3px dashed #1475e1;*/
    color: #1475e1;
    background: #ffffff;
}

.xy-icon{
    background-image: url("../../images/icon.png");
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 15px;
}

.xy-icon.ios{
    background-position:  0 0;
}
.xy-icon.android{
    background-position: -30px  0px;
}


.xy-btn.dashed:hover .xy-icon.android{
    background-position: -30px -30px;
}
.xy-btn.dashed:hover .xy-icon.ios{
    background-position:  0px -30px;
}


/** 手 **/
.xy-hand{
    background-image: url("../../images/iphone.png");
    width: 431px;
    height: 520px;
    margin-right : 70px;
    position: relative;

}
.xy-hand-info{
    position: absolute;
    top: 14.6%;
    right: 15.3%;
}
.xy-center{
    position: absolute;
    top: 50%;
}


/** 二号层文字 **/
.xy-ui-text{
    background: url("../../images/ui-text.jpg") no-repeat;
    width: 536px;
    height: 235px;
    position: relative;
    left: -85px; /** 图片进行hack **/
}

.xy-ui-text h2,.xy-ui-text p {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}


/* 我的大学 */

.xy-my-school{
    background-image: url("../../images/my-school.jpg");
    width: 547px;
    height: 292px;
    position: relative;
    left: -85px; /** 图片进行hack **/
}

.xy-my-school h2,.xy-my-school p {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.xy-my-school-rotation-img{
    background-image: url("../../images/rotation.png");
}

.xy-my-school-big{
    background-position:  0  0 ;
    width: 373px;
    height: 368px;
    position: relative;
}

.xy-my-school-middle{
    background-position:  -550px  0;
    width: 150px;
    height: 155px;


}

.xy-my-school-small{
    background-position:  -617px  -323px;
    width: 83px;
    height: 77px;
}


.xy-rotation-div{
    position: relative;
}

.xy-rotation-div > span{
    position: absolute;
    top: 0;
    left: 0;
}
.xy-rotation-div.first{
    position: relative;
    top: 120px;
    left: 60px;
}

.xy-rotation-div.second{
    top: -9px;
    position: relative;
    right: -325px;
}
.xy-rotation-div.third{
    position: relative;
    top: -148px;
    right: -616px;
}

.xy-rotation-video{
    background-position:  -373px -140px;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 25px;
    right: 18px;
}
.xy-rotation-book{
    background-position:  -373px -70px;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 92px;
    left: 24px;
}
.xy-rotation-bag{
    background-position:  -373px 0;
    width: 70px;
    height: 70px;

    position: absolute;
    top: 21px;
    right: 89px;
}
.xy-rotation-house{
    background-position:  -373px -210px;
    width: 70px;
    height: 83px;
    position: absolute;
    bottom: 133px;
    left: 176px;
}

/** 二号层手机 **/
.xy-iphone-02{
   background-image: url("../../images/iphone02.png");
   width: 510px;
   height: 316px;
   position: relative;
   right: 22px;

   bottom: 48px; /** 720 **/
}

.xy-ip-bg-01{
    position:absolute; top: 32px;  left: 52px;
    z-index: 5;
}

.xy-ip-bg-02{
    position:absolute; top: 32px;  left: 52px;
    z-index: 6;
}

.xy-ip-bg-03{
    position:absolute; top: 32px;  left: 52px;
    z-index: 7;
    opacity: 0;
}



/** 发现 **/
.xy-discover{
    background-image: url("../../images/discover.jpg");
    width: 549px;
    height: 280px;
    position: relative;
    left: -85px; /** 图片进行hack **/
    top: -20px;
}
.xy-discover h2,.xy-discover p {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}




.xy-discover-transform{
    position: relative;
    top: 50px;
    right: 74px;
}
.xy-iphone5c{
    background-image: url("../../images/iphone5c.png");
    background-color: #2185f3;
    width: 200px;
    height: 417px;
    z-index: 10;
    position: relative;
}

.xy-scale{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -mz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.xy-left-zhe{
    background-image: url("../../images/lefr-zhe.png");
    width: 136px;
    height: 330px;

    position: absolute;
    left: -140px;
    top : 60px;

    z-index: 11;


}
.xy-right-zhe{
    background-image: url("../../images/right-zhe.png");
    width: 136px;
    height: 330px;

    position: absolute;
    right: -140px;
    top: 60px;
    /*background: red;*/
    z-index: 11;
}

.xy-bg-03-01{
    background-image: url("../../images/ip-03-01.jpg");
    width: 167px;
    height: 294px;
    position: absolute;
    top: 63px;
    left: 18px;
    z-index: 10;
}

.xy-bg-03-02{
    background-image: url("../../images/ip-03-02.jpg");
    width: 167px;
    height: 294px;

    position: absolute;
    top: 63px;
    left: -130px;
    z-index: 9;

    opacity: 0.6;
}

.xy-bg-03-03{
    background-image: url("../../images/ip-03-03.jpg");
    width: 167px;
    height: 294px;

    position: absolute;
    top: 63px;
    right: -140px;
    z-index: 9;
}


/** 生活 **/
.xy-life-title{
    background-image: url("../../images/life.jpg");
    width: 472px;
    height: 221px;

    position: absolute;
    left: -54px;
    /*top: 12px;*/
}

.xy-life-content{
position: absolute; width: 100%; top: 203px; height: 270px;
}
.xy-life-item{
    background-image: url("../../images/life-item.png");
}

.xy-life-small-dou{
    background-position:  0px 0px;
    width: 71px;
    height: 83px;

    position: absolute;
    bottom: 0px;
    left: 141px;
}
.xy-life-big-dou{
    background-position:  0 -83px;
    width: 109px;
    height: 128px;

   margin-left: 50px;
    margin-right: 100px;

    position: absolute;
    bottom: 0px;
    left: 193px;
}
.xy-life-ball{
    background-position: 0px -362px;
    width: 187px;
    height: 187px;
    position: absolute;
    right: 210px;
    bottom: -92px;

}

.xy-life-air{
    background-position: 0px -211px;
    width: 151px;
    height: 151px;
    position: absolute;
    bottom: 146px;
    right: 109px;

}


.xy-life-bag{
    background-position:  0px -549px;
    width: 196px;
    height: 280px;

    position: absolute;
    bottom: 0;
    left: 429px;
}


.xy-life-title h2, .xy-life-title p {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}


.xy-navbar-toggle{
    display: none;
}




/** <1000 css **/

@media (max-width: 767px) {

    .w1000{
        width: 100%;
    }


    /** 导航切换按钮 **/
    .xy-navbar-toggle{
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;


        border-color : #333;
        display: block;

    }
    .xy-navbar-toggle .icon-bar{
        background: #ffffff;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .xy-navbar-toggle .icon-bar+.icon-bar{
        margin-top : 4px;
    }
    .xy-navbar-toggle .sr-only{
        display: none;
    }

    /** 导航**/
    .xy-nav-main{
        clear: both;
        width: 100%;
        display: none;
    }

    .xy-nav .xy-nav-main > li{
       clear: both;
       display: block;
        text-align: left;

        /** color **/
        border-bottom : 1px solid #ffffff;
        width: inherit;

    }

}