/**
 * @description 手机官网css
 * @author   sherlock
 * @time     1：20
 */


/** 整体屏幕 **/
.screen-all{
    height: 100%;
    width: 100%;
    -webkit-transition:  -webkit-transform 1s ease;
    transition: transform 1s ease;


    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    bottom: 0;

}

.screen{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.screen .main{
    height: inherit;
}

#screen0{
    background: #0e79ef;
}

#screen2{
    background: #53bcf3;
}

#screen2 .bottom-screen{
    background: #53bcf3;
}
#screen3{
    background: #9a2ace;
}



/** 每屏幕文字部分 **/

.screen01-text{
    background-image: url("../../images/mobile/screen-01-text.png");
    background-size: 255px 120px;
    background-repeat: no-repeat;
    width: 255px;
    height: 120px;

    position: relative;
    left: 50%;
    top: 6%;
    margin-left : -127px;
}

.screen02-text{
    background-image: url("../../images/mobile/screen-02-text.png");
    background-size: 182.5px  65px;
    background-repeat: no-repeat;
    width: 182.5px;
    height: 65px;

    position: absolute;
    left: 50%;
    top : 50%;    margin-top : -32.5px;
    margin-left : -92px;
}

.screen03-text{
    background-image: url("../../images/mobile/screen-03-text.png");
    background-size: 206px  69px;
    background-repeat: no-repeat;
    width: 206px;
    height: 69px;

    position: absolute;
    left: 50%;
    top : 50%;
    margin-top : -32.5px;
    margin-left : -103px;
}

.screen04-text{
    background-image: url("../../images/mobile/screen-04-text.png");
    background-size: 206px  69px;
    background-repeat: no-repeat;
    width: 206px;
    height: 69px;

    position: absolute;
    left: 50%;
    top : 10%;
    margin-left : -103px;
}

.hidden-val {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}




.icon{
    background-image: url("../../images/mobile/icon.png");
    background-size: 64px  64px;


}

.icon-dowload{
    width: 16px;
    height: 16px;
    background-position:  0 0;

    position: relative;
    top: 2px;
    margin-right: 4px;
}

.icon-arrow{
    width: 16px;
    height: 16px;
    background-position:  -16px 0;
}


.btn{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    background: none;
    border-radius: 3px;
}
.btn-dowload{
    width: 125px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -67.5px;

    padding: 4.5px 0;
    font-size: 15px;
    margin-top: -10px;
    top: 50%;


}


.arrow{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -8px;
}


/** 2x图片 **/
.all-img{
    background-image: url("../../images/mobile/all.png");
    background-size: 550px 424px;
    background-repeat: no-repeat;
}



.logo{
    background-position:  0 0;
    width: 43px;
    height: 35px;
}
.logo-title{
    background-position: 0 -39px;
    width:  55px;
    height: 21px;
}
.bottom-all{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -28px;
}


/** 屏幕背景 **/
.top-screen{
    height: 68%;
    position: relative;
}

.bottom-screen{
    height:  32%;
    position: relative;
}


#screen1 .top-screen{
    background: #fbc89e;
    position: relative;
}

#screen1 .bottom-screen{
    background: #e57113;
    position: relative;
}



.iphone-mobile{
    background-position: 0 -198.5px;
    width: 163px;
    height: 219px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -80.5px;
}



/** 星星变化 **/
.star-small{

}
.star-normal{

}
.star-big{

}


/** 房屋坐标 **/
.big-house{
    background-position: -117.5px -66px;
    width: 158px;
    height: 132.5px;
    margin: 0 12px;
    position: relative;
}

.left-house{
    width: 38px;
    height: 86px;
    background-position: -117.5px -113px;
}

.right-house{


}


.screen2-main{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -143px;
}

/** 地球 书本 **/
.earth-wrap{
    background-position: -61px 0px;
    width: 52.5px;
    height: 63px;
    position: relative;
}

.earth{
    background-position: -64px -67px;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 1px;
    right: 4px;
}
.book{
    background-position: 0 -67px;
    width: 43px;
    height: 37.5px;

}

.sun{
    background-position: 0 -108.5px;
    width: 75px;
    height: 75px;

    position: absolute;
    top: 6%;
    right: 8%
}


.cloud-01{
    background-position: -117.5px 0;
    width: 95px;
    height: 22px;

    position: absolute;
    top: 19%;
    left: -42px;
}



/** 窗户部分 **/
.wd-list{
    overflow: hidden;

    width: 58px;
    position: absolute;
    top: 44px;
    left: 54px
}
.wd-list li{
    float: left;

    margin-right: 6px;
    margin-bottom: 1px;
}
.wd-01{
    width: 13px;
    height: 13px;
    background: #dda3ec;
}

.wd-02{
    width: 13px;
    height: 13px;
    background: #ffec86;
}

.wd-03{
    width: 13px;
    height: 13px;
    background: #b3ecff;
}

.wd-04{
    width: 13px;
    height: 13px;
    background: #ffbc86;
}

.wd-05{
    width: 13px;
    height: 13px;
    background: #94ff4c;
}

.door{
    background: #f9cd48;
    width: 21px;
    height: 26px;


    position: absolute;
    bottom: 3px;
    left: 69px;
}

.wd-list-left{
    overflow: hidden;
    position: absolute;
    bottom: 14px;
    left: 14px;
}

.wd-list-right{
    overflow: hidden;
    position: absolute;
    bottom: 14px;
    right: 14px;
}



/** 桌子 人 **/
.table-ft{
    width: 130.5px;
    height: 133px;
    background-position: -280px -291px;

    position: relative;
    z-index: 4;
}

.table-rt{
    width: 136px;
    height: 133px;
    background-position: -411px -291px;

    position: relative;
    z-index: 4;
}

.people-man{
    width: 131px;
    height: 87.5px;
    background-position: -281px -198.5px;

    position: absolute;
    top: -80px;
    left: 25px;
    z-index: 3;
}

.people-wo{
    width: 83.5px;
    height: 87.5px;
    background-position: -411px  -198.5px;

    position: absolute;
    top: -80px;
    right: 25px;
    z-index: 3;
}


.left-slide{
    position: absolute;
    left: 0;
    top: 50%;
}

.right-slide{
    position: absolute;
    right: 0;
    top: 60%;
}

/** 动画部分 **/

.trans .screen04-text.bounceIn{
    -webkit-animation: bounceIn 0.3s ease-in 2s;


    -moz-animation: bounceIn 0.3s ease-in 1.5s;
    -ms-animation: bounceIn 0.3s ease-in 1.5s;
    animation: bounceIn 0.3s ease-in 1.5s;
}

.trans  .table-rt.bounceIn,  .trans  .table-ft.bounceIn{
    opacity: 0;
    -webkit-animation: bounceIn 0.3s linear 0.5s;

    -moz-animation: bounceIn 0.3s linear 1s ;
    -ms-animation: bounceIn 0.3s linear 1s ;
    animation: bounceIn 0.3s linear 1s ;
}


.trans .people-wo.bounceInLeft{
    -webkit-animation: bounceInLeft 1s ease-in  5s;

    /*-moz-animation: bounceInRight 0.3s ease-in 1.5s;*/
    /*-ms-animation: bounceInRight 0.3s ease-in 1.5s;*/
    /*animation: bounceInRight 0.3s ease-in 1.5s;*/
}

.trans .people-man.bounceInRight{
    -webkit-animation: bounceInRight 1s ease-in  5s;
}

/** 闪烁 **/
.trans  .blink-01{
    -webkit-animation: blink 1s linear 1.2s infinite;
    -moz-animation: blink 1s linear 1.2s infinite;
    -ms-animation: blink 1s linear 1.2s infinite;
    animation: blink 1s linear 1.2s infinite;
}


.trans  .blink-02{
    -webkit-animation: blink 1s linear 0.8s infinite;
    -moz-animation: blink 1s linear 0.8s infinite;
    -ms-animation: blink 1s linear 0.8s infinite;
    animation: blink 1s linear 0.8s infinite;
}

.trans  .blink-03{
    -webkit-animation: blink 1s linear 0 infinite;
    -moz-animation: blink 1s linear 0  infinite;
    -ms-animation: blink 1s linear 0 infinite;
    animation: blink 1s linear 0 infinite;
}


.trans  .blink-04{
    -webkit-animation: blink 1s linear 0.5s infinite;
    -moz-animation: blink 1s linear 0.5s  infinite;
    -ms-animation: blink 1s linear 0.5s infinite;
    animation: blink 1s linear 0.5s infinite;
}


.trans .sun{
    -webkit-animation: rotate360 7s linear 0s infinite;
    -moz-animation: rotate360 7s linear 0s infinite;
    -ms-animation: rotate360 7s linear 0s infinite;
    animation: rotate360 7s linear 0s infinite;
}

.trans .earth-an{
    -webkit-animation: rotate360 10s linear 0s infinite;
    -moz-animation: rotate360 10s linear 0s infinite;
    -ms-animation: rotate360 10s linear 0s infinite;
    animation: rotate360 10s linear 0s infinite;
}


.trans .house-an{
    -webkit-animation: fanzhi 0.4s linear 0.5s ;
    -moz-animation: rotate360 10s linear 0s infinite;
    -ms-animation: rotate360 10s linear 0s infinite;
    animation: rotate360 10s linear 0s infinite;
}

.trans .house-an-02{
    -webkit-animation: fanzhi 0.4s linear 0.9s;

}

.trans .house-an-03{
    -webkit-animation: fanzhi 0.4s linear 1.3s;

}

.trans .arrowDown{
    -webkit-animation: arrowDown 1.2s ease-in 0s infinite;
    -moz-animation: arrowDown 1.2s ease-in 0s infinite;
    -ms-animation: arrowDown 1.2s ease-in 0s infinite;
    animation: arrowDown 1.2s ease-in 0s infinite
}

.trans .arrowUp{
    -webkit-animation: arrowUp 1.2s ease-in 0s infinite;
    -moz-animation: arrowUp 1.2s ease-in 0s infinite;
    -ms-animation: arrowUp 1.2s ease-in 0s infinite;
    animation: arrowUp 1.2s ease-in 0s infinite
}

.trans .bounceInDown{
    -webkit-animation: bounceInDown 0.6s linear 0.4s;
    -moz-animation: bounceInDown 0.6s linear 0.4s ;
    -ms-animation: bounceInDown 0.6s linear 0.4s ;
    animation: bounceInDown 0.6s linear 0.4s ;
}

.trans .bounceIn{
    -webkit-animation: bounceIn 0.3s linear 1s ;
    -moz-animation: bounceIn 0.3s linear 1s ;
    -ms-animation: bounceIn 0.3s linear 1s ;
    animation: bounceIn 0.3s linear 1s ;
}

.trans .bounceIn-02{
    -webkit-animation: bounceIn 0.3s ease-in 1.5s;
    -moz-animation: bounceIn 0.3s ease-in 1.5s;
    -ms-animation: bounceIn 0.3s ease-in 1.5s;
    animation: bounceIn 0.3s ease-in 1.5s;
}

.trans .bounceIn-03{
    -webkit-animation: bounceIn 0.3s ease-in 0.5s;
    -moz-animation: bounceIn 0.3s ease-in 0.5s;
    -ms-animation: bounceIn 0.3s ease-in 0.5s;
    animation: bounceIn 0.3s ease-in 0.5s;
}




.trans .bounceInLeft{
    -webkit-animation: bounceInLeft 0.6s ease-in 0.5s;
    -moz-animation: bounceInLeft 0.3s ease-in 1.5s;
    -ms-animation: bounceInLeft 0.3s ease-in 1.5s;
    animation: bounceInLeft 0.3s ease-in 1.5s;
}


/** 动画常用 **/
/** 保持结束帧 **/
.an-util-forwards{
    -webkit-animation-fill-mode: forwards !important;
    -moz-animation-fill-mode: forwards !important;
    -o-animation-fill-mode: forwards !important;
    animation-fill-mode: forwards !important;
}

.an-util-both{
    -webkit-animation-fill-mode: both !important;
    -moz-animation-fill-mode: both !important;
    -o-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
}

/** 保持开始帧 **/
.an-util-backwards{
    -webkit-animation-fill-mode: backwards  !important;;
    -moz-animation-fill-mode: backwards !important;
    -o-animation-fill-mode: backwards !important;
    animation-fill-mode: backwards !important;
}





/* 3D变形会消耗更多的内存与功耗，应确实有性能问题时才去使用它，兼在权衡  */
.d3{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/** 元素卡顿现象 **/
.backface{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}