/**
 * @description 常用的一些动画
 * @author   sherlock
 * @time     1：20
 */

/** 放大 **/
@keyframes amplify {
    0%{   transform: scale(0);}
    100% { transform: scale(1);}
}
@-moz-keyframes amplify {
    0%{ transform: scale(0);}
    100% { transform: scale(1);}
}
@-webkit-keyframes amplify {
    0%{ -webkit-transform: scale(0); opacity: 0;}
    100% { -webkit-transform: scale(1); opacity: 1;}
}
@-o-keyframes amplify {
    0%{ -o-transform: scale(0);}
    100% { -o-transform: scale(1);}
}
@-ms-keyframes amplify{
    0%{ -ms-transform: scale(0);}
    100% { -ms-transform: scale(1);}
}

.trans .an-amplify{
    opacity: 0;
    animation : amplify 0.6s cubic-bezier(0, .25, .08, 1) 6s;
    -webkit-animation : amplify 0.6s cubic-bezier(0, .25, .08, 1) 5.5s;
    -moz-animation : amplify 0.6s cubic-bezier(0, .25, .08, 1) 6s;
    -ms-animation : amplify 0.6s cubic-bezier(0, .25, .08, 1) 6s;
    -o-animation : amplify 0.6s cubic-bezier(0, .25, .08, 1) 6s;
}



/** 缩小 **/
@keyframes reduce {
    0%{ transform: scale(1);}
    100% { transform: scale(0);}
}
@-moz-keyframes reduce {
    0%{ transform: scale(1);}
    100% { transform: scale(0);}
}
@-webkit-keyframes reduce {
    0%{ -webkit-transform: scale(1);}
    100% { -webkit-transform: scale(0);}
}
@-o-keyframes reduce {
    0%{ -o-transform: scale(1);}
    100% { -o-transform: scale(0);}
}
@-ms-keyframes reduce{
    0%{ -ms-transform: scale(1);}
    100% { -ms-transform: scale(0);}
}


.an-reduce{
    animation : reduce 0.6s cubic-bezier(0, .25, .08, 1) 0.5s;
    -webkit-animation : reduce 0.6s cubic-bezier(0, .25, .08, 1) 0.5s;
    -moz-animation : reduce 0.6s cubic-bezier(0, .25, .08, 1) 0.5s;
    -ms-animation : reduce 0.6s cubic-bezier(0, .25, .08, 1) 0.5s;
    -o-animation : reduce 0.6s cubic-bezier(0, .25, .08, 1) 0.5s;
}



/* 向上一阶  向下二段渐隐  */
@keyframes thiAni{
    0%{-webkit-transform:translateY(0);opacity: 0;}
    25%{-webkit-transform:translateY(-60px);opacity: 1;}
    50%{-webkit-transform:translateY(-30px);opacity: 1;}
    100%{opacity: 1;}
}

@-moz-keyframes thiAni{
    0%{-webkit-transform:translateY(0);opacity: 0;}
    25%{-webkit-transform:translateY(-60px);opacity: 1;}
    50%{-webkit-transform:translateY(-30px);opacity: 1;}
    100%{opacity: 1;}
}

@-webkit-keyframes thiAni{
    0%{-webkit-transform:translateY(0);opacity: 0;}
    25%{-webkit-transform:translateY(-60px);opacity: 1;}
    50%{-webkit-transform:translateY(-30px);opacity: 1;}
    100%{opacity: 1;}
}

@-o-keyframes thiAni{
    0%{-webkit-transform:translateY(0);opacity: 0;}
    25%{-webkit-transform:translateY(-60px);opacity: 1;}
    50%{-webkit-transform:translateY(-30px);opacity: 1;}
    100%{opacity: 1;}
}
@-ms-keyframes thiAni{
    0%{-webkit-transform:translateY(0);opacity: 0;}
    25%{-webkit-transform:translateY(-60px);opacity: 1;}
    50%{-webkit-transform:translateY(-30px);opacity: 1;}
    100%{opacity: 1;}
}


.trans  .an-thiAni{
    opacity: 0;
    -webkit-animation: thiAni 2s cubic-bezier(0, .25, .08, 1) 0.8s;
    -moz-animation: thiAni 2s cubic-bezier(0, .25, .08, 1) 0.8s;
    -o-animation: thiAni 2s cubic-bezier(0, .25, .08, 1) 0.8s;
    animation: thiAni 2s cubic-bezier(0, .25, .08, 1) 0.8s;
}


/** 左侧划入 **/
.trans .an-slidepop{
    -webkit-animation : slidepop 0.8s cubic-bezier(0, .25, .08, 1) 3s;
    -moz-animation : slidepop 0.8s cubic-bezier(0, .25, .08, 1) 3s;
    -o-animation : slidepop 0.8s cubic-bezier(0, .25, .08, 1) 3s;
    animation : slidepop 0.8s cubic-bezier(0, .25, .08, 1) 3s;
}
@keyframes slidepop{
    0%{transform:translateY(-60px) translateX(-120px);opacity: 0;}
    100%{transform:translateY(0) translateY(0);opacity: 1;}
}

@-moz-keyframes slidepop{
    0%{-moz-transform:translateY(-60px) translateX(-120px);opacity: 0;}
    100%{-moz-transform:translateY(0) translateY(0);opacity: 1;}
}

@-webkit-keyframes slidepop{
    0%{-webkit-transform:translateY(-60px) translateX(-120px);opacity: 0;}
    100%{-webkit-transform:translateY(0) translateY(0);opacity: 1;}
}

@-o-keyframes slidepop{
    0%{-o-transform:translateY(-60px) translateX(-120px);opacity: 0;}
    100%{-o-transform:translateY(0) translateY(0);opacity: 1;}
}
@-ms-keyframes slidepop{
    0%{-ms-transform:translateY(-60px) translateX(-120px);opacity: 0;}
    100%{-ms-transform:translateY(0) translateY(0);opacity: 1;}
}


/*  飞旋 */
.trans .an-fly-01{
    -webkit-animation : fly-01 2s linear 0.2s;
}
@-webkit-keyframes fly-01{
    0%{
        -webkit-transform:translateX(0) translateY(0) scale(1) ;
        opacity: 1;
    }

    60% {
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(317px) translateY(-112px) rotate(720deg) scale(1.6);
        opacity: 0;
    }
}


.trans .an-fly-02-fade{
    opacity: 0;
    -webkit-animation : fly-fadeIn 0.8s ease-out 2s;
}
@-webkit-keyframes fly-fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




.trans .an-fly-02{
    opacity: 0;
    -webkit-animation : fly-02 2s linear 2.6s;
}
@-webkit-keyframes fly-02{
    0%{
        -webkit-transform:translateX(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100%{
        -webkit-transform:translateX(414px) translateY(-39px) rotate(720deg);
        opacity: 1;
    }
}


.trans .an-fly-03{
    opacity: 0;
    -webkit-animation : fly-03 2s ease-out 4.4s;
}

@-webkit-keyframes fly-03{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.trans .an-zoomIn {

    -webkit-animation : zoomIn 0.8s  0.8s ;
    animation : zoomIn 0.8s  0.8s ;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.trans .an-zoomIn-02 {

    -webkit-animation : zoomIn 0.8s  1.6s ;
    animation : zoomIn 0.8s  1.6s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)

}

    50% {


        opacity: 1


    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        -ms-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}





/* 向上一阶 向下渐隐  */
@keyframes secAni{
    0%,100%{transform:translateY(0);opacity: 0;}
    25%,50%{transform:translateY(-30px);opacity: 1;}
}

@-moz-keyframes secAni{
    0%,100%{transform:translateY(0);opacity: 0;}
    25%,50%{transform:translateY(-30px);opacity: 1;}
}

@-webkit-keyframes secAni{
    0%,100%{-webkit-transform:translateY(0);opacity: 0;}
    25%,50%{-webkit-transform:translateY(-30px);opacity: 1;}
}

@-o-keyframes secAni{
    0%,100%{-o-transform:translateY(0);opacity: 0;}
    25%,50%{-o-transform:translateY(-30px);opacity: 1;}
}
@-ms-keyframes secAni{
    0%,100%{-ms-transform:translateY(0);opacity: 0;}
    25%,50%{-ms-transform:translateY(-30px);opacity: 1;}
}

.an-secAni{
    -webkit-animation: secAni 2s cubic-bezier(0, .25, .08, 1) 0.6s;
    -moz-animation: secAni 2s cubic-bezier(0, .25, .08, 1) 0.6s;
    -o-animation: secAni 2s cubic-bezier(0, .25, .08, 1) 0.6s;
    animation: secAni 2s cubic-bezier(0, .25, .08, 1) 0.6s;
}

/** animate 常用类 **/

@-webkit-keyframes slideTop{
    0%{-webkit-transform:translateY(60px); opacity: 0}
    100%{-webkit-transform:translateY(0); opacity: 1}
}
.an-slideTop{
   top: 60px;
}
.trans .an-slideTop{
    animation : slideTop 3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s ;
    -webkit-animation : slideTop 3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s ;
}






@-webkit-keyframes leftSlide{
    0%{
        -webkit-transform:translateX(0) scale(0.8);
    }

    20%{
        -webkit-transform:translateX(147px) scale(1);  z-index: 10 ;
    }
    40%{
        -webkit-transform:translateX(147px) scale(1); opacity: 1; z-index: 10;
    }


    60%{
        -webkit-transform:translateX(318px) scale(0.8); opacity: 1; z-index: 9;
    }
    80%{
        -webkit-transform:translateX(318px) scale(0.8); opacity: 1; z-index: 9;
    }


    100%{
        -webkit-transform:translateX(0) scale(0.8); opacity: 1; z-index: 9;
    }



}

.trans .an-left-slide{
    -webkit-animation : leftSlide 8s ease-in-out 0.8s  ;
}

.trans .an-right-slide{
    -webkit-animation : rightSlide 8s ease-in-out 0.8s  ;
}

.trans .an-end-slide{
    -webkit-animation : endSlide 8s ease-in-out 0.8s  ;
}


@-webkit-keyframes rightSlide{
    0%{
        -webkit-transform:translateX(0) scale(1);
    }

    20%{
        -webkit-transform:translateX(147px) scale(0.8); opacity: 0.8; z-index: 9 ;
    }
    40%{
        -webkit-transform:translateX(147px) scale(0.8); opacity: 0.8; z-index: 9;
    }


    60%{
        -webkit-transform:translateX(-147px) scale(0.8); opacity: 1; z-index: 9;
    }
    80%{
        -webkit-transform:translateX(-147px) scale(0.8); opacity: 1; z-index: 9;
    }
    100%{
        -webkit-transform:translateX(0) scale(1); opacity: 1; z-index: 10;
    }
}




@-webkit-keyframes endSlide{
    0%{
        -webkit-transform:translateX(0) scale(0.8);
    }

    20%{
        -webkit-transform:translateX(-328px) scale(0.8); opacity: 1; z-index: 9;
    }
    40%{
        -webkit-transform:translateX(-328px) scale(0.8); opacity: 1; z-index: 9;
    }


    60%{
        -webkit-transform:translateX(-154px) scale(1); opacity: 0.6; z-index: 10;
    }
    80%{
        -webkit-transform:translateX(-154px) scale(1); opacity: 1; z-index: 10;
    }
    100%{
        -webkit-transform:translateX(0) scale(0.8); opacity: 1; z-index: 9;
    }
}





/** 保持结束帧 **/
.an-util-forwards{
    -webkit-animation-fill-mode: forwards !important;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.an-util-allwards{
    -webkit-animation-fill-mode: both !important;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

/** 保持开始帧 **/
.an-util-backwards{
    -webkit-animation-fill-mode: backwards  !important;;
    -moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}






.d3{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/** 元素卡顿现象 **/
.backface{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}