<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit">

    <!-- seo 优化部分 -->
    <meta name="title" content="校园云官网 天翼校园云"/>
    <meta name="keywords" content="校园云 皆知 大学 高校 微信 公众 服务 平台"/>
    <meta name="author" content="sherlock"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="校园云官网 天翼校园云"/>

    <!--标题-->
    <title>校园云官网 天翼校园云</title>


    <!--reset css  -->
    <link href="../static/css/template/normalize.css" rel="stylesheet" type="text/css"/>

    <!--animate css  -->
    <link href="../static/css/template/animate.css" rel="stylesheet" type="text/css"/>

    <!--common css  -->
    <link href="../static/css/template/template.css" rel="stylesheet" type="text/css"/>


    <!-- 小于ie9 的文件 -->
    <!--[if lt IE 9]>
    <script src="../static/js/ie9/html5shiv.min.js"></script>
    <![endif]-->



    <!-- seajs -->
    <script type="text/javascript" src="../static/js/sea-modules/seajs/2.3.0/dist/sea.js"></script>
    <script type="text/javascript" src="../static/js/sea-modules/seajs_config.js"></script>

    <!--index css  -->
    <link href="../static/css/service/index.css" rel="stylesheet" type="text/css"/>


</head>
<body>

<header id="xy-header" class="xy-header ">
    <nav class="xy-nav w1000">
        <a class="logo-base pull-left" href="javascript:void(0)">
            <img src="../static/images/logo.png" width="115" height="33"/>
        </a>

        <button class="xy-navbar-toggle collapsed" id="collapsedNav"  type="button" status="0">
            <span class="sr-only">导航切换</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="xy-nav-main pull-right">
            <li class="active"><a href="javascript:void(0)">首页</a></li>
            <li class=""><a href="javascript:void(0)">功能介绍</a></li>
            <li class=""><a href="javascript:void(0)">信息服务平台</a></li>
            <li class=""><a href="javascript:void(0)">智慧迎新</a></li>
            <li class=""><a href="javascript:void(0)">联系我们</a></li>
        </ul>

    </nav>
</header>


<section>
<div class="xy-content">

<section class="xy-fixrelative" id="xy-fixrelative">

<!-- 首页 -->
<div class="xy-figure trans" id="figph0" style="height: 720px;">
    <div class="xy-inner clearfix w1000">
        <div class="">
            <div class="xy-center w1000" style="margin-top: -260px;">
                <div class="ib xy-inner-left pull-left">
                    <section class="xy-inner-message">
                        <h2>4.0 beta</h2>

                        <p>只为给你一个简单的校园</p>
                    </section>
                    <section class="xy-inner-btns">
                        <div>
                            <button class="xy-btn dashed"><i class="xy-icon android"></i>Android</button>
                        </div>
                        <div>
                            <button class="xy-btn dashed"><i class="xy-icon ios"></i>Appstore</button>
                        </div>
                    </section>

                    <div>
                        <img src="../static/images/2code.png" width="85" height="85"/>
                    </div>
                </div>
                <div class="ib xy-inner-left pull-right">
                    <div class="an-slideTop backface an-util-forwards">
                        <div class="xy-hand ">
                            <img class="xy-hand-info " src="../static/images/first-phone01.jpg"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="xy-bg">
        <img id="bg01" src="../static/images/bg1.jpg" alt="1">
    </div>
</div>

<!--UI-->
<div class="xy-figure" id="figph1" style="">

    <div class="xy-inner clearfix w1000">
        <div class="">
            <div class="xy-center w1000" style="margin-top: -270px;">
                <div class="ib xy-inner-left pull-left">
                    <section class="xy-ui-text">
                        <h2>全新的UI 界面</h2>

                        <p>引领视觉潮流 更有冲击力</p>
                    </section>
                </div>
                <div class="ib xy-inner-left pull-right">
                    <div class="xy-iphone-02">
                        <div>
                            <img class="xy-ip-bg-01 " style="" src="../static/images/ip-02-01.png"/>
                            <img class="xy-ip-bg-02 backface an-thiAni an-util-forwards" style=""
                                 src="../static/images/ip-02-02.png"/>
                            <img class="xy-ip-bg-03 backface an-slidepop an-util-forwards" style=""
                                 src="../static/images/ip-02-03.png"/>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="xy-bg">
        <img id="bg02" src="../static/images/bg2.jpg" alt="1">
    </div>

</div>

<!--我的大学-->
<div class="xy-figure" id="figph2" style="">

    <div class="xy-inner clearfix w1000">
        <div class="">
            <div class="xy-center w1000" style="margin-top: -270px;">
                <div class="ib xy-inner-left pull-left">
                    <section class="xy-my-school">
                        <h2>我的大学</h2>

                        <p>第一时间了解校园动态
                            查图书&查成绩&查课表 更易获取学习资讯</p>
                    </section>
                </div>
                <div class="clearfix">
                    <section>
                        <div class="xy-rotation-div first">
                            <span class="rollin delay01 ib xy-my-school-small xy-my-school-rotation-img"></span>
                            <!--<span class="   xy-my-school-small xy-my-school-rotation-img"></span>-->
                        </div>

                        <div class="xy-rotation-div second">
                            <span class=" rollin delay02  ib xy-my-school-middle xy-my-school-rotation-img"></span>
                            <!--<span class="  ib xy-my-school-middle xy-my-school-rotation-img"></span>-->
                        </div>


                        <div class="xy-rotation-div third">
                            <span class="  rollin delay03   ib xy-my-school-big xy-my-school-rotation-img">
                                <i class=" an-amplify  ib xy-my-school-rotation-img xy-rotation-bag"></i>
                                <i class=" an-amplify  ib xy-my-school-rotation-img xy-rotation-book"></i>
                                <i class=" an-amplify  ib xy-my-school-rotation-img xy-rotation-video"></i>
                                <i class=" an-amplify  ib xy-my-school-rotation-img xy-rotation-house"></i>
                            </span>
                        </div>

                    </section>

                </div>

            </div>
        </div>
    </div>


    <div class="xy-bg bg-default">
        <!--<img id="bg03" src="../static/images/bg3.jpg" alt="1">-->
    </div>

</div>

<!--发现-->
<div class="xy-figure" id="figph3" style="height: 720px;">

    <div class="xy-inner clearfix w1000">
        <div class="">
            <div class="xy-center w1000" style="margin-top: -270px;">
                <div class="ib xy-inner-left pull-left">
                    <section class="xy-discover">
                        <h2>发现</h2>

                        <p>校园交友新类型
                            校园圈&秘密&结伴而行 精彩纷呈</p>
                    </section>
                </div>
                <div class="ib xy-inner-left pull-right" style="margin-right: 31px;">

                    <section class="xy-discover-transform">

                        <span class="xy-iphone5c ib"></span>
                        <span class="xy-left-zhe ib"></span>
                        <span class="xy-right-zhe ib"></span>

                        <span class="ib   an-right-slide an-util-forwards backface xy-bg-03-01"></span>
                        <span class=" an-left-slide an-util-forwards backface ib xy-bg-03-02 xy-scale"></span>
                        <span class="ib  an-end-slide an-util-forwards backface xy-bg-03-03 xy-scale"></span>

                    </section>

                </div>

            </div>
        </div>
    </div>


    <div class="xy-bg">
        <img id="bg04" src="../static/images/bg3.jpg" alt="1">
    </div>

</div>

<!--生活-->
<div class="xy-figure" id="figph4" style="height: 720px;">


    <div class="xy-inner clearfix w1000">
        <div class="">
            <div class="xy-center w1000" style="margin-top: -275px;">
                <div class=" xy-inner-left " style="width: 100%; margin-top: 40px">
                    <section class="xy-life-title">
                        <h2>生活</h2>

                        <p>宅男宅女的福利
                            校园活动聚集地</p>
                    </section>
                    <section class="xy-life-content">


                        <span class="an-zoomIn ib xy-life-item xy-life-small-dou"></span>
                        <span class="an-zoomIn-02 ib xy-life-item xy-life-big-dou"></span>
                        <span class="an-zoomIn ib xy-life-item xy-life-bag"></span>


                        <span class="an-zoomIn-02 ib xy-life-item xy-life-ball"></span>
                        <span class="an-zoomIn ib xy-life-item xy-life-air"></span>


                    </section>

                </div>
                <div class="ib xy-inner-left pull-right">

                </div>

            </div>
        </div>
    </div>


    <div class="xy-bg bg-default">
        <!--<img id="bg03" src="../static/images/bg3.jpg" alt="1">-->
    </div>
</div>


</section>


<!--圆点滑动-->
<div class="xy-dot-main" id="xy-dot-main">
    <ul id="xy-dot" class="xy-dot">
        <li tabid="0" class="active"><i class="ib xy-dot-icon"></i></li>
        <li tabid="1" class=""><i class="ib xy-dot-icon"></i></li>
        <li tabid="2" class=""><i class="ib xy-dot-icon"></i></li>
        <li tabid="3" class=""><i class="ib xy-dot-icon"></i></li>
        <li tabid="4"><i class="ib xy-dot-icon"></i></li>
    </ul>
</div>

</div>

</section>


<footer>


</footer>


</body>

<script type="text/javascript">
    seajs.use("template/template", function () {
        seajs.use("service/index");
    });
</script>
</html>