<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit">

    <!-- seo 优化部分 -->
    <meta name="title" content="校园云官网 天翼校园云"/>
    <meta name="keywords" content="校园云 皆知 大学 高校 微信 公众 服务 平台"/>
    <meta name="author" content="sherlock"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="校园云官网 天翼校园云"/>

    <!--标题-->
    <title>校园云手机官网 天翼校园云</title>

    <script type="text/javascript">


        function IsPC()
        {
            var userAgentInfo = navigator.userAgent;
            var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) { flag = false; break; }
            }
            return flag;
        }




        if(IsPC()){
             alert("请从手机上访问!");
             window.location.href = "index.html";
        }

    </script>



    <!--reset css  -->
    <link href="../static/css/template/normalize.css" rel="stylesheet" type="text/css"/>


    <!--template css  -->
    <link href="../static/css/template/template-mobile.css" rel="stylesheet" type="text/css"/>

    <!--cartoon css  -->
    <link href="../static/css/template/cartoon.css" rel="stylesheet" type="text/css"/>

    <!--mobile css  -->
    <link href="../static/css/service/mobile.css" rel="stylesheet" type="text/css"/>

    <!--an css  -->
    <link href="../static/css/service/an.css?sd=22" rel="stylesheet" type="text/css"/>


    <script type="text/javascript" src="../static/js/zeptro/1.0.0/zepto.js"></script>





</head>
<body >

<header id="xy-header" class="xy-header ">

</header>



<section class="content" id="wp" >

        <ul class="screen-all  " id="screen-all" >

            <li class="screen "  id="screen0">
                <div class="main hide">
                        <div class="screen01-text  an-util-forwards ">
                            <h3 class="version hidden-val">4.0</h3>
                            <p class="title hidden-val">只为给你一个简单的校园</p>
                        </div>
                    <button  id="btnDow" class="btn btn-dowload  an-util-forwards" type="button"  ><i class="ib  arrowDown icon-dowload icon "></i>Download</button>
                    <div class="logo-all  an-util-both">
                        <div class="text-center">
                            <i class="ib logo all-img "></i>
                        </div>
                        <div class="text-center ">
                            <i class="ib logo-title all-img  "></i>
                        </div>
                    </div>

                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>
                </div>
            </li>

            <li class="screen " id="screen1">

                <div class="main hide">

                    <div class="top-screen">

                        <div class="star-main">

                            <i class="ib all-img star-03 start-03-1"></i>
                            <i class="ib all-img star-02-1 star-02"></i>
                            <i class="ib all-img star-02 star-02-2"></i>
                            <i class="ib all-img star-01  star-01-1"></i>
                            <i class="ib all-img star-03 star-03-2"></i>
                            <i class="ib all-img star-02 star-02-4"></i>

                        </div>

                        <span class="ib    an-util-both  iphone-mobile all-img">

                        </span>
                    </div>

                    <div class="bottom-screen  an-util-forwards  ">
                        <div class="screen02-text  an-util-both">
                            <h3 class="version hidden-val">全新的ui界面</h3>
                            <p class="title hidden-val">引领视觉潮流 更有冲击力</p>
                        </div>
                    </div>

                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>

                </div>

            </li>

            <li class="screen " id="screen2">
                <div class="main hide">

                    <div class="top-screen">

                        <i class="ib sun all-img"></i>
                        <i class="ib left-cloud all-img  an-util-both"></i>
                        <i class="ib right-cloud all-img  an-util-both"></i>

                        <div class="screen2-main">
                            <span class="ib all-img book house-an an-util-both "></span>

                                 <span class="ib   an-util-both  big-house all-img  ">
                                    <ul class="wd-list">
                                        <li><i class="ib wd-03"></i></li>
                                        <li><i class="ib  wd-02 blink-01"></i></li>
                                        <li><i class="ib wd-01"></i></li>


                                        <li><i class="ib  wd-02 blink-04"></i></li>
                                        <li><i class="ib wd-03"></i></li>
                                        <li><i class="ib wd-03"></i></li>

                                        <li><i class="ib  wd-03"></i></li>
                                        <li><i class="ib  wd-04 "></i></li>
                                        <li><i class="ib  wd-03 blink-03"></i></li>
                                    </ul>

                                    <ul class="wd-list-left">
                                        <li><i class="ib   wd-04 blink-02"></i></li>
                                        <li><i class="ib  wd-03"></i></li>
                                    </ul>

                                     <ul class="wd-list-right">
                                         <li><i class="ib wd-05 "></i></li>
                                         <li><i class="ib wd-04   blink-01"></i></li>
                                     </ul>
                                    <i class="door ib"></i>
                                </span>

                            <span class="ib earth-wrap all-img   house-an-02 an-util-both">
                                <i class="ib   earth all-img"></i>
                            </span>
                        </div>
                    </div>
                    <div class="bottom-screen   an-util-both " style="background: #2e629b;">
                        <p class="screen03-text    an-util-both">
                        <h3 class="version hidden-val">我的大学</h3>
                        <p class="title hidden-val">第一时间</p>
                        </p>
                    </div>
                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>

                </div>

            </li>

            <li class=" screen" id="screen3">

                <div class="main hide">

                    <div class="screen04-text    an-util-both" style="position: relative;">

                        <div>
                            <i class="ib an_1 "></i>
                            <i class="ib an_2"></i>
                            <i class="ib an_3"></i>
                            <i class="ib an_4"></i>
                            <i class="ib an_5"></i>
                            <i class="ib an_6"></i>
                            <i class="ib an_6-1"></i>
                            <i class="ib an_7"></i>
                            <i class="ib an_8"></i>
                            <i class="ib an_9"></i>

                        </div>

                        <h3 class="version hidden-val">发现</h3>
                        <p class="title hidden-val">校园交友新类型 更易发现同学动态</p>
                    </div>



                    <div>
                        <div class="left-slide">

                             <span class="ib   table-rt all-img  an-util-both "> </span>
                             <span class="ib     people-man ts all-img an-util-both"> </span>


                        </div>

                        <div class="right-slide">
                             <span class="ib   table-ft all-img an-util-both">
                             </span>
                            <span class="ib    people-wo all-img an-util-both"></span>
                         </div>

                    </div>


                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>

                </div>

            </li>

            <li class="  screen" id="screen4">

                <div class="main hide">

                    <div class="screen05-text    an-util-both" style="position: relative;">

                        <h3 class="version hidden-val">发现</h3>
                        <p class="title hidden-val">校园交友新类型 更易发现同学动态</p>
                    </div>


                    <div class="screen-road m-road tile an-util-both ">


                    </div>

                    <div class="screen-end">
                        <div class=" mon an-util-both  "></div>
                        <i class="ib shanche   an-util-both  all-img "></i>

                        <div class="line tile   an-util-both "></div>
                        <i class="ib all-img bank   an-util-both"></i>
                        <!--<i class="ib all-img tree"></i>-->
                        <i class="ib car an-util-both   all-img">
                            <i class="ib yan all-img   an-util-both"></i>
                            <i class="ib deng   an-util-both all-img"></i>
                        </i>

                            <i class="ib ballon   an-util-both all-img"></i>
                    </div>


                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>

                </div>

            </li>

        </ul>







</section>


<footer>


</footer>



</body>

<script type="text/javascript" src="../static/js/service/mobile-main.js"></script>

</html>



