<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit">

    <!-- seo 优化部分 -->
    <meta name="title" content="校园云官网 天翼校园云"/>
    <meta name="keywords" content="校园云 皆知 大学 高校 微信 公众 服务 平台"/>
    <meta name="author" content="sherlock"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="校园云官网 天翼校园云"/>

    <!--标题-->
    <title>校园云手机官网 天翼校园云</title>


    <!--reset css  -->
    <link href="../static/css/template/normalize.css" rel="stylesheet" type="text/css"/>



    <!--template css  -->
    <link href="../static/css/template/template-mobile.css" rel="stylesheet" type="text/css"/>

    <!--cartoon css  -->
    <link href="../static/css/template/cartoon.css" rel="stylesheet" type="text/css"/>

    <!--mobile css  -->
    <link href="../static/css/service/mobile.css" rel="stylesheet" type="text/css"/>


    <script type="text/javascript" src="../static/js/zeptro/1.0.0/zepto.js"></script>

    <script type="text/javascript" src="../static/js/zeptro/zTouch.js"></script>

</head>
<body>

<header id="xy-header" class="xy-header ">

</header>




<section class="content">

        <ul class="screen-all" id="screen-all">

            <li class="screen trans"  id="screen01">
                <div class="main">
                        <p class="screen01-text bounceInDown an-util-both">
                            <h3 class="version hidden-val">4.0</h3>
                            <p class="title hidden-val">只为给你一个简单的校园</p>
                        </p>
                    <button class="btn btn-dowload bounceIn an-util-both" type="button"><i class="ib  arrowDown icon-dowload icon "></i>Download</button>
                    <div class="bottom-all">
                        <div class="text-center">
                            <i class="ib logo all-img "></i>
                        </div>
                        <div class="text-center ">
                            <i class="ib logo-title all-img  "></i>
                        </div>
                    </div>


                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>
                </div>
            </li>


            <li class="trans screen" id="screen02">

                <div class="main">

                    <div class="top-screen">
                        <span class="ib bounceInLeft  an-util-both iphone-mobile all-img"></span>
                    </div>
                    <div class="bottom-screen">
                        <p class="screen02-text   bounceIn-02 an-util-both">
                        <h3 class="version hidden-val">全新的ui界面</h3>
                        <p class="title hidden-val">引领视觉潮流 更有冲击力</p>
                        </p>
                    </div>

                    <div class="arrow">
                        <i class="ib icon icon-arrow  arrowUp"></i>
                    </div>

                </div>

            </li>

        </ul>







</section>


<footer>


</footer>



</body>

<script type="text/javascript" src="../static/js/service/mobile.js"></script>

</html>