<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit">

    <!-- seo 优化部分 -->
    <meta name="title" content="校园云官网 天翼校园云"/>
    <meta name="keywords" content="校园云 皆知 大学 高校 微信 公众 服务 平台"/>
    <meta name="author" content="sherlock"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="校园云官网 天翼校园云"/>

    <!--标题-->
    <title>校园云官网 天翼校园云</title>

    <!--reset css  -->
    <link href="../static/css/template/normalize.css" rel="stylesheet" type="text/css"/>




    <!-- 小于ie9 的文件 -->
    <!--[if lt IE 9]>
    <script src="../static/js/ie9/html5shiv.min.js"></script>
    <![endif]-->






</head>
<body>

         <div>


             <span>进度:</span> <span id="progress"></span>

         </div>


</body>
<script type="text/javascript" src="../static/js/service/loader.js"></script>
<script type="text/javascript">


    //    var ld = new loader(imgList);
    //    ld.loadend(function(){
    //        document.getElementById("progress").innerHTML= this.percent;
    //        console.log(this._index);
    //    }).complete(function(){
    //        console.log("完成");
    //    });

</script>
</html>